.c-course{
    width: 80%;
    margin-left: 10%;
    height: 600px;

    padding: 10px;
    margin-bottom: 10%;

    background-color: rgb(240, 240, 196);

    border: 3px solid rgb(0, 176, 0);
    box-shadow: 5px 5px 5px rgb(186, 184, 184);

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    font-family: monospace;

    &__title{
        font-size: 30px;
        color: green;
        font-weight: bold;

        padding: 15px;
        margin-top: 35px;
    }

    &__text{
        width: 75%;
        color: green;

        padding: 15px;

        font-weight: bold;

        margin-bottom: 35px;
    }

    & img {
        width: 50%;
        min-width: 275px;
        max-width: 500px;
        height: 300px;

        box-shadow: 5px 5px 5px grey;
    }
}