
.c-classroom {

    width: 100%;
    height: 500px;

    display: flex;
    flex-direction: column;
    align-items: center;


    &__subnav {
        width: 100%;
        height: 50px;
        background-color: #f2d028e0;

        display: flex;
        justify-content: center;
        align-items: center;
    }

    &__course{

        width: 100%;
        height: 400px;

        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;

        & img {
            width: 50%;
            margin: 15px;
        }

        &__own{
            width: 50%;
            height: 200px;
            color: green;

            padding: 15px;

            display: flex;
            flex-direction: column;
            justify-content: space-between;
        }
    }
}