.c1{

    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;


        & img{
            width: 40%;
            height: 80%;
        }

    

    &__activities{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    
        width: 60%;
        padding: 50px;
    
        &__div {
    
            width: 100%;
            margin: 15px;
            padding: 35px;
            border: 2px solid green;
            box-shadow: 5px 5px 5px green;
    
            display: flex;
            justify-content: space-around;
    
            & img {
                width: 33%;
            }
    
        }
    }
}
