.c-cursespage {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;

    &__input{
        width: 100%;

        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;

        &__lab{

            font-family: fantasy;
            font-weight: bold;

            color: green;
            margin-right: 10px;
            font-size: 20px;
        }

        &__inp {
            margin-left: 10px;
            border-radius: 10px;
            border: 1px solid green;
            
            &:hover{
                box-shadow: 2px 2px 2px grey;
            }

            &:active{
                box-shadow: 2px 2px 2px grey;
            }
        }

    }

    &__card {

        display: flex;
        justify-content: center;
        align-items: center;

        &__title{
            font-weight: bold;
        }

        &__button{
            color: white;
        }
    }
}