
.notLogin{

    height: 500px;
    padding: 15px;

    display: flex;
    justify-content: center;
    align-items: center;


    &__div{
        width: 80%;
        max-width: 500px;
        height: 100%;

        display: flex;
        justify-content: center;
        align-items: center;

        background-image: url("https://cdn.pixabay.com/photo/2017/07/13/16/16/paper-2500942_1280.jpg");
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        box-shadow: 5px 5px 5px rgb(211, 211, 211);

        &__title {
            margin-left: 2%;
            color: #198754;
            font-weight: bold;
            font-size: 35px;
            padding: 15%;
            font-family: fantasy;
        }
    }

}