
.c-form{

    width: 100%;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    padding: 15px;

    &__form {

        width: 80%;
        max-width: 500px;
        height: 300px;

        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;

        background-image: url("https://cdn.pixabay.com/photo/2021/01/21/16/49/books-5937823_1280.jpg");
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;

        border: 2px solid #198754;
        box-shadow: 5px 5px 5px rgb(198, 195, 195);

        &__input{
            margin: 15px 0px;
            border: 2px solid;
            border-color: #198754;

            text-align: center;
        }

        &__button {
            background-color: yellow;
            border: none;
            color: #198754;

            width: 120px;
            height: 35px;
            margin: 15px;
        
            font-size: 20px;
            font-weight: bold;
        }
    }

    & h3 {
        color: #198754;
        font-size: 35px;
        font-weight: bold;
        text-shadow: 1px 1px 1px #198754;
    }
}