

.c-about{

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    &__title{
        width: 100%;
        height: 100px;

        display: flex;
        justify-content: center;
        align-items: center;

        background-image: url("https://image.freepik.com/vector-gratis/estudiante-femenino-escuchando-webinar-linea_74855-6461.jpg");
        background-position: center;
        background-size: cover;

        &__tit{
            width: 100%;
            height: 100;
            background-color: rgba(79, 79, 79, 0.002);  
            backdrop-filter: blur(5px);
        }

        & h1 {
            font-size: 45px;
            font-weight: bold;
            color: #198754;
        }
    }

    &__div{
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        align-items: center;
        width: 100%;
        margin: 10px 5px;

        font-family: 'Quintessential', cursive;

        &__text{
            width: 30%;
            color: #198754;
            text-align: justify;

            & h3{
                font-weight: bold;
            }
        }

        & img {
            width: 30%px;
            height: 250px;
        }
    }
}

@media (max-width: 700px) { 

    .c-about{

        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    
        &__title{
            width: 100%;
            height: 100px;
    
            display: flex;
            justify-content: center;
            align-items: center;
    
            background-image: url("https://image.freepik.com/vector-gratis/estudiante-femenino-escuchando-webinar-linea_74855-6461.jpg");
            background-position: center;
            background-size: cover;
    
            &__tit{
                width: 100%;
                height: 100;
                background-color: rgba(79, 79, 79, 0.002);  
                backdrop-filter: blur(5px);
            }
    
            & h1 {
                font-size: 45px;
                font-weight: bold;
                color: #198754;
            }
        }
    
        &__div{
            display: flex;
            flex-direction: column;
            justify-content: space-around;
            align-items: center;
            width: 100%;
            margin: 10px 5px;
    
            font-family: 'Quintessential', cursive;
    
            &__text{
                width: 60%;
                color: #198754;
                text-align: justify;
    
                & h3{
                    font-weight: bold;
                }
            }
    
            & img {
                width: 30%px;
                height: 250px;
            }
        }
    }
}