
.c-header{

    width: 100%;
    height: 200px;

    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;

    font-family: 'Supermercado One', cursive;

    &__logo {

        height: 200px;
        width: 40%;
        max-width: 250px;

        &__img{
            width: 100%;
            height: 100%;
        }

    }

    &__nav{
        width: 60%;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;


        &__link{
            text-decoration: none;
            font-size: 20px;
            color: #198754;
            font-weight: bold;
            margin: 10px;
        }
    }

}

.c-subheader{

    width: 100%;
    height: 60px;

    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;

    background-color: #198754;

    @media (max-width: 700px) { 

        flex-direction: column;

        height:120px;
        padding: 10px;

    }
    
    & p {
        color: white;
        font-weight: bold;
        font-size: 15px;
        margin-top: 18px;
    }

    &__button {
        margin-left: 35px;
        margin-bottom: 10px;
    }

    &__log {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;

        &__par{
            margin-right: 15px;
            margin-top: 8px;
            font-size: 18px;
            font-weight: bold;
            color: yellow;
        }

        &__link {
            margin: 5px;
            font-size: 18px;
            font-weight: bold;
            color: yellow;
            text-decoration: none;
        }

    }
}