
.c-carousel{

    display: flex;
    justify-content: center;

    &__div{

        max-width: 1200px;
        margin: 15px 0px;

        &__caption{
            background-color: rgba(255, 255, 255, .15);  
            backdrop-filter: blur(5px);
        }

    }
}