.c-footer{

    width: 100%;
    height: 150px;

    background-color: #198754;

    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content:space-around;

    &__div{
        color: white;
    }


    & h5{
        font-size: 20px;
        font-weight: bold;
    }

    & p {
        font-size: 15px;
    }
}


@media (max-width: 700px) { 

    .c-footer{

        width: 100%;
        height: 150px;
    
        background-color: #198754;
    
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content:space-between;
    
        &__div{
            color: white;
            margin: 10px;
        }
    
    
        & h5{
            font-size: 20px;
            font-weight: bold;
        }
    
        & p {
            font-size: 15px;
        }
    }
    

}