.c-contact{

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    padding: 15px;
    margin: 35px;

    width: 70%;
    margin-left: 15%;

    border: 2px solid #198754;
    background-color: #198754b3;

    box-shadow: 5px 5px 5px #198754;

    font-family: monospace;

    &__input {

        text-align: center;
        border: 2px solid #198754;
        box-shadow: 2px 2px 2px #198754;
        margin: 15px;
        width: 75%;
        height: 40px;

        &__course{
            text-align: center;
            border: 2px solid #198754;
            box-shadow: 2px 2px 2px #198754;
            margin: 15px;
            width: 90%;
            height: 60px;
        }

    }

    &__button {

        width: 100px;
        height: 40px;
        margin: 15px;
        background-color: yellow;
        border: none;
        color: #198754;
        font-size: 20px;
        font-weight: bold;

    }

    &__title{

        font-weight: bold;
        color: #198754;
        font-family: monospace;

    }

}